{% extends "base.html" %}

{% block content %}

<h2>📄 My Complaints</h2>

{% for complaint in complaints %}

<div class="complaint-box">

    <h3>{{ complaint.title }}</h3>
    <p>{{ complaint.description }}</p>

    <!-- IMAGE DISPLAY -->
    {% if complaint.image %}
        <img src="{{ complaint.image.url }}"
             width="200"
             height="150"
             style="border-radius:8px; margin-bottom:10px;">
    {% endif %}

    <!-- STATUS PROGRESS -->
    <div class="progress-container">

        <div class="step 
            {% if complaint.status == 'submitted' or complaint.status == 'tutor_approved' or complaint.status == 'hod_approved' or complaint.status == 'resolved' %}
            active
            {% endif %}
        ">Submitted</div>

        <div class="step
            {% if complaint.status == 'tutor_approved' or complaint.status == 'hod_approved' or complaint.status == 'resolved' %}
            active
            {% endif %}
        ">Tutor</div>

        <div class="step
            {% if complaint.status == 'hod_approved' or complaint.status == 'resolved' %}
            active
            {% endif %}
        ">HOD</div>

        <div class="step
            {% if complaint.status == 'resolved' %}
            active
            {% endif %}
        ">Resolved</div>

    </div>

</div>

{% empty %}
<p>No complaints submitted.</p>
{% endfor %}

{% endblock %}