{% load static  %} 
<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>

<center>

<h1>User Registration</h1>

<form method="POST">
    {% csrf_token %}

    <!-- Email (ADDED NEW FIELD) -->
    <label>Email :</label><br>
    <input type="email" name="email" placeholder="Enter Email" required>
    <br><br>

    <!-- Username -->
    <label>Username :</label><br>
    <input type="text" name="username" placeholder="Enter Username" required>
    <br><br>

    <!-- Password -->
    <label>Password :</label><br>
    <input type="password" name="password" placeholder="Enter Password" required>
    <br><br>

    <!-- Role -->
    <label>Role</label>
    <select name="role" id="role" onchange="roleFilter()" required>
    <option value="">Select Role</option>
    <option value="student">Student</option>
    <option value="tutor">Tutor</option>
    <option value="hod">HOD</option>
    <option value="principal">Principal</option>
    </select>
    <br><br>

    <!-- Department -->
    <div id="deptBox">
        <label>Department</label>
        <select name="department">
            <option value="">Select Department</option>
            <option>CSE</option>
            <option>IT</option>
            <option>ECE</option>
            <option>MECH</option>
        </select>
    </div>
    <br><br>

    <!-- Year -->
    <div id="yearBox">
        <label>Year</label>
        <select name="year">
            <option value="">Select Year</option>
            <option value="1">First Year</option>
            <option value="2">Second Year</option>
            <option value="3">Third Year</option>
            <option value="4">Fourth Year</option>
        </select>
    </div>  
    <br><br>

    <!-- Section -->
    <div id="sectionBox">
        <label>Section</label>
        <select name="section">
            <option value="">Select Section</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
    </div>
    <br><br>

    <!-- Submit -->
    <button type="submit">Register</button>

</form>

<br>

<a href="/login/">Already have account? Login</a>

</center>

<script>

function roleFilter(){

let role = document.getElementById("role").value;

let year = document.getElementById("yearBox");
let dept = document.getElementById("deptBox");
let section = document.getElementById("sectionBox");

/* PRINCIPAL */
if(role === "principal"){
    year.style.display="none";
    dept.style.display="none";
    section.style.display="none";
}

/* HOD */
else if(role === "hod"){
    year.style.display="none";
    section.style.display="none";
    dept.style.display="block";
}

/* STUDENT + TUTOR */
else{
    year.style.display="block";
    dept.style.display="block";
    section.style.display="block";
}

}

</script>
</body>
</html>