{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>College Complaint System</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}?v=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% block extra_css %}{% endblock %}
</head>
<body class="landing-page">
<header>
<div class="container nav">

<div class="logo">
<i class="fa fa-university"></i>
<span>COLLEGE COMPLAINT SYSTEM</span>
</div>



</div>
</header>


<section class="hero">

<div class="overlay">

<h1>Welcome to College Complaint System</h1>
<p>Submit and track your complaints online</p>

<div class="login-boxes">

<a href="{% url 'login' %}" style="text-decoration:none;">
<div class="box student">
<i class="fa fa-user"></i>
<h3>Login</h3>
</div>
</a>


</div>

</div>

</section>


<section class="features container">

<div class="feature">



</div>


</section>


<section class="about container">

<div class="about-text">

<h2>About Our College</h2>

<p>
Our college is a distinguished institution known for academic excellence
and student welfare.
</p>

</div>

<div class="contact-card">

<i class="fa fa-phone"></i>

<div>
<h3>+123-456-7890</h3>
<p>support@college.edu</p>
</div>
</div>
</section>
<footer>
<p style="text-align:center;">
Designed and developed by Smart Campus Team
</p>
</footer>
</body>
</html>