{% extends "base.html" %}

{% block content %}

<h2 class="page-title">🎓 Student Dashboard</h2>

<!-- DASHBOARD CARDS -->
<div class="dashboard">

    <!-- Total Complaints -->
    <div class="card blue">
        <h3>{{ total_count }}</h3>
        <p>Total Complaints</p>
    </div>

    <!-- Pending Complaints -->
    <div class="card orange">
        <h3>{{ pending_count }}</h3>
        <p>Pending Complaints</p>
    </div>

    <!-- Resolved Complaints -->
    <div class="card green">
        <h3>{{ resolved_count }}</h3>
        <p>Resolved Complaints</p>
    </div>

</div>


<!-- ACTION BUTTONS -->
<div class="actions">

    <a href="/complaints/submit/" class="btn">
        ➕ Submit Complaint
    </a>

    <a href="/complaints/my/" class="btn secondary">
        📄 My Complaints
    </a>

</div>

{% endblock %}