{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>Smart Campus Complaint System</title>

<link rel="stylesheet" href="{% static 'css/view_complaint.css' %}">

</head>

<body>

<header class="header">

<h2>SMART CAMPUS COMPLAINT SYSTEM</h2>

<div class="user-section">

<div class="username">
{{ request.user.username }} | Tutor
</div>

<button class="back-btn" onclick="goBack()">← Back</button>

</div>

</header>


<div class="sidebar">

<div class="sidebar-menu">
<a href="#">Profile 👤</a>
<a href="/logout/">Logout 🚪</a>
</div>

</div>


<div class="main">

<h2>VIEW COMPLAINT</h2>


<div class="complaint-card">

<div class="detail-row">
<label>Complaint ID</label>
<p>CMP{{ complaint.id }}</p>
</div>

<div class="detail-row">
<label>Student Name</label>

<p>
{% if complaint.is_anonymous %}
Anonymous
{% else %}
{{ complaint.student.username }}
{% endif %}
</p>

</div>


<div class="detail-row">
<label>Department</label>
<p>{{ complaint.department }}</p>
</div>


<div class="detail-row">
<label>Category</label>
<p>{{ complaint.category }}</p>
</div>


<div class="detail-row">
<label>Date Submitted</label>
<p>{{ complaint.created_at }}</p>
</div>


<div class="detail-row">
<label>Complaint Title</label>
<p>{{ complaint.title }}</p>
</div>


<div class="detail-row">
<label>Complaint Description</label>

<div class="complaint-box">
{{ complaint.description }}
</div>

</div>


{% if complaint.image %}

<div class="detail-row">
<label>Image Proof</label>
<br>
<img src="{{ complaint.image.url }}" width="300">
</div>

{% endif %}

</div>

</div>


<script>

function goBack(){
window.history.back()
}

</script>

</body>
</html>