{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Smart Campus Complaint System</title>
    <link rel="stylesheet" href="{% static 'css/leave_style.css' %}">
</head>

<body>

<header class="header">
    <h2>SMART CAMPUS COMPLAINT SYSTEM</h2>

    <div class="user-section">
        <div>{{ request.user.username }} | Associate Warden</div>
        <button class="back-btn" onclick="goBack()">← Back</button>
    </div>
</header>

<div class="sidebar">
    <a href="{% url 'associate_warden_homepage' %}">Home 🏠</a>
    <a href="{% url 'logout' %}">Logout 🚪</a>
</div>

<div class="main">

    <h2>ASSOCIATE WARDEN FINAL APPROVAL</h2>

    <input type="text" id="search" placeholder="Search student...">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Student</th>
                <th>From</th>
                <th>To</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody id="leaveBody">
        {% for leave in leaves %}
            <tr>
                <td>LV{{ leave.id }}</td>
                <td>{{ leave.name }}</td>
                <td>{{ leave.from_date }}</td>
                <td>{{ leave.to_date }}</td>
                <td>{{ leave.purpose }}</td>
                <td>
                    <span class="status {{ leave.status }}">{{ leave.status }}</span>
                </td>
                <td>
                    {% if leave.status == "deputy_approved" %}
                        <a href="{% url 'final_approve' leave.id %}">
                            <button class="approve">Approve</button>
                        </a>
                    {% elif leave.status == "warden_approved" %}
                        <span>Approved</span>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">No Leave Requests Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script src="{% static 'js/leave_script.js' %}"></script>

</body>
</html>

